@charset "UTF-8";

* {
    padding: 0px;
    margin: 0px;
    font-family: Arial, Helvetica, sans-serif;
}

body{
    background-color: rgb(112, 112, 244);
    
}

header {
    color: white;
    text-align: center;
    padding-top: 20px;
}

section {
    background-color: white;
    width: 50vw;
    height: 50vh;
    margin: auto;
    border-radius: 15px;
}

section > div {
    margin-left: 15px;
    
}

p {
    padding-top: 15px;
}

input {
    border-radius: 5px;
}

input#verificar {
    
}

input[type="button"] {    
    width: 80%;
    text-align: center
    
}


div#res {
    
}

footer {
    color: white;
    text-align: center;
    font-style: italic;
    padding-top: 15px;
}


